transcript
vsim.wlf
**/sim/*work
**/sim/waves
**/quartus/**/incremental_db/
**/quartus/**/output_files/
**/quartus/**/db/
**/quartus/**/*.qws
**/quartus/**/*.dpf
**/quartus/**/*.srf
**/greybox_tmp
*.exe
*.o
vcover.log
*.ucdb_old
adv7123_out.txt

